<% if user.cover.url %>
  <div class="cover" style="background-image: url(<%= user.cover.url %>);"></div>
<% else %>
  <div class="cover" style="background-image: url(<%= image_url 'socify/cover.png' %>);"></div>
<% end %>