<div class="row">
  <div class="col-lg-3">
    <%= render 'socify/shared/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3>Friends</h3>
    <hr>
    <div id="friends">
      <%= render(@friends) || render('socify/shared/no_resource', resources: 'Friends') %>
    </div>
    <%= render 'socify/shared/paginate', resources: @friends %>
  </div>
  <div class="col-lg-3">
    <%= render 'socify/shared/links' %>
  </div>
</div>